<a href="https://colab.research.google.com/github/jes-coder/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [2]:
a=7
b=8

10>9

True

#bool() function

In [4]:
print(bool("Maria"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

#Functions can return a Boolean

In [6]:
def My_Function():
  return False
  #return True

print(My_Function())
#print(My_Function())

False

In [9]:
if My_Function():
  print("true")
else:
  print("false")

false

#Application 1

In [10]:
a=6
a=7

print(10>9)

print(a==b)
print(a!=b)

True
False
True

#Python

In [16]:
print(10+5)
print(10-5)
print(10/5)
#print(int(10/5))
print(10*5)
print(10%5)
print(10//3)
print(10**2)

15
5
2.0
50
0
3
100

#Bitwise Operators

In [19]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1100

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

#Logical Operators

In [20]:
h = True
I = False
h and I
h or I
not(h or I)

False

#Python Assignment Operators

In [ ]:
#x += 3       # x = x + 3
#x -= 3       # x = x - 3
#x *= 3       # x = x * 3
#x /= 3       # x = x / 3
#x %= 3       # x = x % 3

#Identity Operators

In [23]:
h is I
h is not I

True

#Control Structure

if statement

In [26]:
if a>b:
  print("a is greater than b")

Elif Statement

In [36]:
a=10
b=10

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand if statement

In [37]:
if a==b:
  print("a is equal to b")

a is equal to b

Short Hand else statement

In [42]:
a=10
b=9

print("a is greater than b") if a>b else print("b is greater than a")

a is greater than b

And

In [43]:
if a>b and b==b:
  print("both conditions are true")

both conditions are true

Or

In [44]:
if a<b or b==b:
  print("the condition is true")

the condition is true

Nested if

In [46]:
x = 31

if x > 10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
      else:
        print("but not above 40")

x is above 10
and also above 20
and also above 30
but not above 40

#Loop Statement

for loop

In [ ]:
week

the break statement

In [ ]:
#to display sunday to wednesday using for loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

In [ ]:
#to display only wednesday using for loop
for x in week:
  if x=="Wednesday":
    break
print(x)

While statement

In [50]:
i = 1
while i<6:
  print(i)
  i+=1 # i = i + 1

1
2
3
4
5

Application 3 - creater a python program that displays no.3 using break statement

In [62]:
i = 3
while i<6:
  print(i)
  i+1 
  break

3